<?php
declare(strict_types=1);

/**
 * @author Convert Team
 * @copyright Copyright (c) Convert (https://www.convert.no/)
 */

use Convert\Weather\Block\Weather;
use Magento\Framework\Escaper;

/**
 * @var Weather $block
 * @var Escaper $escaper
 */
?>

<div id="city-weather" class="top-container"></div>

<script type="text/x-magento-init">
    {
        "#city-weather": {
            "Convert_Weather/js/cityWeather": {
                "url":
                    "<?=
                        $escaper->escapeUrl('rest/V1/convert/weather/')
                    ?>"
            }
        }
    }
</script>
