<!--
* @author Convert Team
* @copyright Copyright (c) Convert (https://www.convert.no/)
-->

<div id="knockout-training" style="display: none">
    <div>
        URL: <span data-bind="text: url"></span>
    </div>
</div>