<?php
declare(strict_types=1);

/**
 * @author Convert Team
 * @copyright Copyright (c) Convert (https://www.convert.no/)
 */

use Convert\PhysicalStock\Block\Product\View\PhysicalStock;
use Magento\Framework\Escaper;

/**
 * @var PhysicalStock $block
 * @var Escaper $escaper
 */
?>

<div id="physical-stock">
        <span id="physical-stock-quantity"></span>
</div>

<script type="text/x-magento-init">
    {
        "#physical-stock": {
            "Convert_PhysicalStock/js/physicalStock": {
                "url":
                    "<?=
                        $escaper->escapeUrl(
                            $block->getUrl(
                                'physicalstock/physicalstock/availability',
                                ['product_id' => $block->getCurrentProductId()]
                            )
                        )
                    ?>"
            }
        }
    }

</script>

