<?php
declare(strict_types=1);

/**
 * @author Convert Team
 * @copyright Copyright (c) Convert (https://www.convert.no/)
 */

use Convert\Training\Block\Product\View\NewAttribute;
use Magento\Framework\Escaper;

/**
 * @var NewAttribute $block
 * @var Escaper $escaper
 */
?>

<div>
    <a href="#" id="leave-page-link">
        <?= $escaper->escapeUrl($block->getExternalUrl()) ?>
    </a>
</div>

<div id="leave-page-modal">
    <?= $escaper->escapeHtml(__('Are you sure you want to leave this page?')) ?>
    <hr>
    <button type="button" class="btn btn-info" id="show-url-button"><?= $escaper->escapeHtml(__('Show URL')) ?></button>
    <div id="m2-component" data-bind="scope:'showUrlComponent'">
        <!-- ko template: getTemplate() --><!-- /ko -->
    </div>
</div>

<script type="text/x-magento-init">
    {
        "#leave-page-link": {
            "Convert_Training/js/leavePage": {}
        },
        "#m2-component": {
            "Magento_Ui/js/core/app": {
               "components": {
                    "showUrlComponent": {
                        "component": "Convert_Training/js/showUrlComponent",
                        "template": "Convert_Training/showUrlComponentTemplate"
                    }
                }
            }
        }
    }
</script>
