<?php
declare(strict_types=1);

/**
 * @author Convert Team
 * @copyright Copyright (c) Convert (https://www.convert.no/)
 */

use Convert\Preorder\Block\Product\View\PlaceOrder;
use Magento\Framework\Escaper;

/**
 * @var PlaceOrder $block
 * @var Escaper $escaper
 */
?>

<div>
    <button type="button" id="buy-now" class="action buynow primary">
        <span><?= $escaper->escapeHtml(__('Buy Now')) ?></span>
    </button>
</div>


<script type="text/x-magento-init">
    {
        "#buy-now": {
            "Convert_Preorder/js/buyNow": {
                "url":
                    "<?=
                        $escaper->escapeUrl(
                            $block->getUrl(
                                'preorder/preorder/buyNow',
                                ['product_id' => $block->getCurrentProductId()]
                            )
                        )
                    ?>"
            }
        }
    }
</script>
