<?php
declare(strict_types=1);

/**
 * @author Convert Team
 * @copyright Copyright (c) Convert (https://www.convert.no/)
 */

use Convert\Blog\Block\View;
use Magento\Framework\Escaper;

/**
 * @var View $block
 * @var Escaper $escaper
 */

?>

<h1>Blog</h1>
<div>
    <?php foreach ($block->getPostCollection() as $key => $post): ?>
        <div>
            <h2><?= $escaper->escapeHtml($post['heading']) ?></h2>
            <p><?= /* @noEscape */ $post['text'] ?></p>
        </div>
        <hr>
    <?php endforeach; ?>
</div>
